.btnContainer {
    background-color: #151D26;
    color: white;
    display: flex;
    flex-direction: column;
    width: 66vw;
    align-items: left;
    padding-left: 30px;
    padding-bottom: 300px;
    padding-top: 20px;
}

.btnContainer h2 {
    font-size: 70px;
    width: 400px;
    font-weight: 1000;
    margin: 50px 0;
}

.join {
    font-size: 30px;
    font-weight: 1000;
    margin-bottom: 20px;
}

.already {
    font-weight: 700;
    margin: 15px 0;
}

.container {
    height: 100vh;
    display: flex;
}

.background {
    object-fit: cover;
    width: 40vw;
}

.logo {
    height:80px;
    width:80px;
    rotate: 180deg;
}

.modalContent {
    background-color: #151D26;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap:10px;
}

.modalContent span {
    font-weight: 750;
    font-size: 23px;
}

